{% extends "inc/base.j2" %}
{% block content %}

<div class="page-header">
  <h2>proxies / {{ proxies | length }}</h2>
  <form>
    <select name="source" placeholder="source" value="{{ query.source }}">
      <option value="">-- source --</option>
      {% for s in sources %}
      <option value="{{ s }}">{{ s }}</option>
      {% endfor %}
    </select>
    <select name="status" placeholder="status" value="{{ query.status }}">
      <option value="">-- status --</option>
      {% for s in Status %}
      <option value="{{ s.value }}">{{ s.value }}</option>
      {% endfor %}
    </select>
    <select name="protocol" placeholder="protocol" value="{{ query.protocol }}">
      <option value="">-- protocol --</option>
      {% for p in Protocol %}
      <option value="{{ p.value }}">{{ p.value }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="outline">filter</button>
  </form>
</div>

<table class="sortable">
  <thead>
    <tr>
      <th>endpoint</th>
      <th>external_ip</th>
      <th>status</th>
      <th>source</th>
      <th>protocol</th>
      <th>ok</th>
      <th>down</th>
      <th>checked_at</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    {% for p in proxies %}
    <tr>
      <td>{{ p.endpoint }}</td>
      <td>
        {% if p.external_ip %}
        {% if p.gateway %}
        <span style="color: orange;" title="gateway proxy (external IP differs from endpoint)">{{ p.external_ip
          }}</span>
        {% elif p.gateway is false %}
        <span style="color: green;" title="direct proxy (external IP matches endpoint)">{{ p.external_ip }}</span>
        {% else %}
        {{ p.external_ip }}
        {% endif %}
        {% endif %}
      </td>
      <td>{{ p.status.value }}</td>
      <td>{{ p.source }}</td>
      <td>{{ p.protocol.value }}</td>
      <td>{{ p.history_ok_count }}</td>
      <td>{{ p.history_down_count }}</td>
      <td>{{ p.checked_at | dt }}</td>
      <td>
        <details class="dropdown">
          <summary>actions</summary>
          <ul>
            <li><a href="/api-post/proxies/{{ p.id }}/check">check</a></li>
            <li><a href="/api/proxies/{{ p.id }}/url">url</a></li>
            <li><a href="/api/proxies/{{ p.id }}">view</a></li>
          </ul>
        </details>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}