{% extends "inc/base.j2" %}
{% block content %}

<div class="page-header">
  <h2>sources</h2>
  <nav>
    <a onclick="openDialog('dialog-create')">create</a>
    <a href="/api/sources/export">export</a>
    <a onclick="openDialog('dialog-import')">import</a>
  </nav>
</div>


<dialog id="dialog-create">
  <article>
    <header>
      <h4>create source</h4>
    </header>
    <form method="POST" class="stack">
      <fieldset role="group">
        <input type="text" name="id" placeholder="id" required></input>
        <button type="submit" class="primary">create</button>
      </fieldset>
    </form>
  </article>
</dialog>

<dialog id="dialog-import">
  <article>
    <header>
      <h4>import sources</h4>
    </header>
    <form method="POST" action="/sources/import" class="stack">
      <textarea name="toml" rows="10" placeholder="paste TOML here"></textarea>
      <button type="submit" class="primary">import</button>
    </form>
  </article>
</dialog>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>proxies</th>
      <th>ok</th>
      <th>live</th>
      <th>entries</th>
      <th>entries_url</th>
      <th>default</th>
      <th>checked_at</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    {% for s in sources %}
    <tr>
      <td>{{ s.id }}</td>
      <td>{{ stats.sources[s.id].all }}</td>
      <td>{{ stats.sources[s.id].ok }}</td>
      <td>{{ stats.sources[s.id].live }}</td>
      <td>{{ s.entries | length }}</td>
      <td>{{ s.entries_url | empty }}</td>
      <td>{{ s.default_protocol or '' }}</td>
      <td>{{ s.checked_at | dt }}</td>
      <td>
        <details class="dropdown">
          <summary>actions</summary>
          <ul>
            <li><a href="/api-post/sources/{{ s.id }}/check">check</a></li>
            <li><a href="/api/sources/{{ s.id }}">view</a></li>
            <li><a onclick="openDialog('dialog-entries-{{ s.id }}')">entries</a></li>
            <li><a onclick="openDialog('dialog-entries-url-{{ s.id }}')">entries_url</a></li>
            <li><a onclick="openDialog('dialog-default-{{ s.id }}')">default</a></li>
            <li><a href="/api-delete/sources/{{ s.id }}" {{ confirm }}>delete</a></li>
          </ul>
        </details>

        <dialog id="dialog-entries-{{ s.id }}">
          <article>
            <header>
              <h4>entries / {{ s.id }}</h4>
            </header>
            <form method="POST" action="/sources/{{ s.id }}/entries" class="stack">
              <textarea name="entries" rows="10" value="{{ s.entries | join('\n') }}"></textarea>
              <button type="submit" variant="primary">save</button>
            </form>
          </article>
        </dialog>

        <dialog id="dialog-entries-url-{{ s.id }}">
          <article>
            <header>
              <h4>entries_url / {{ s.id }}</h4>
            </header>
            <form method="POST" action="/sources/{{ s.id }}/entries_url" class="stack">
              <input type="text" name="entries_url" placeholder="url" value="{{ s.entries_url or '' }}">
              <button type="submit" variant="primary">save</button>
            </form>
          </article>
        </dialog>

        <dialog id="dialog-default-{{ s.id }}">
          <article>
            <header>
              <h4>default / {{ s.id }}</h4>
            </header>
            <form method="POST" action="/sources/{{ s.id }}/default" class="stack">
              <select name="protocol" value="{{ s.default_protocol or '' }}" placeholder="protocol" clearable>
                {% for p in Protocol %}
                <option value="{{ p.value }}">{{ p.value }}</option>
                {% endfor %}
              </select>
              <input type="text" name="username" placeholder="username" value="{{ s.default_username or '' }}">
              <input type="text" name="password" placeholder="password" value="{{ s.default_password or '' }}">
              <input type="number" name="port" placeholder="port" value="{{ s.default_port or '' }}">
              <button type="submit" variant="primary">save</button>
            </form>
          </article>
        </dialog>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}